/* style.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto Mono", sans-serif;
  font-size: 18px;
  background-color: lightgray;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header {
  font-size: 2rem;
  text-align: center;
  margin: 40px auto 60px;
}
main {
  display: flex;
  min-height: 700px;
  width: 100%;
  max-width: 1000px;
}
/* Game Over Modal CSS */
.ship-placer,
.game-over {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: white;
  padding: 30px 20px;
  max-width: 30rem;

  z-index: 100;
}
.btn {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 20px;
}
.ship-overlay,
.end-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 10;
}
/* Ship Placing Modal CSS */
.direction-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.ship-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px;
  max-width: 80%;
  background-color: white;
  z-index: 100;
}
.placement-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.direction-container {
  font-size: 1.3rem;
  padding: 20px 0;
}
.direction-container input[type="checkbox"] {
  transform: scale(2);
  border-radius: 0;
}
.placement-btns {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 40px;
}
/* Gameboards CSS */
.player-container,
.comp-container {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-board,
.computer-board {
  width: 400px;
  height: 400px;
  background-color: gray;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.col {
  border: 1px solid black;
  background-color: white;
  height: 40px;
  width: 40px;
}
footer {
  position: relative;
  bottom: 0;
  padding: 10px;
}
/* Visibility */
.hide {
  display: none;
}
